<script>
	import Cell from './Cell.svelte';

	let logs = [];
	let size = 100;
	let burnChance = 2;
	let growChance = 50;
	let numTurns = 100;

	$:cells = [...Array(size)].map(() => "empty");

	function manuallyChangeCell(index) {
    let status = cells[index]
    switch (status) {
      case "filled":
        status="burning";
        break;
      case "burning":
        status="empty";
        break;
      case "empty":
        status="filled";
        break;
      default: 
        status="empty";
    }
    cells[index] = status
  }

	function countIfString(items, stringToMatch) {
		return items.reduce((accumulator, currentValue) => {
			if(currentValue === stringToMatch) {
				return accumulator + 1;
			} else {
				return accumulator;
			}
		}, 0);
	}

	function avgByKey(items, key) {
		let sum = items.reduce((accumulator, currentValue) => {
			console.log(accumulator, currentValue)
			return accumulator += currentValue[key]
		}, 0)
		console.log(sum, items.length)
		return sum /items.length
	}

	function simulate(runCount) {
		logs = []
		while(logs.length < runCount) {
			let run = {start:0, grown:0, burnt:0, survived:0};
			run.start = countIfString(cells, "filled");
			growPhase();
			run.grown = countIfString(cells, "filled") - run.start;
			lightning();
			run.burnt = countIfString(cells, "burning");
			run.survived = run.start + run.grown - run.burnt;
			logs = [...logs, run];
		}
	}

	function timer(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	function burn(index) {
		if(index < size) {
			if(cells[index] === "filled") {
				cells[index] = "burning"
				if(index+1 < size) {
					burn(index+1)
				}
				if(index > 0) {
					burn(index-1)
				}
			}
		}
	}

	function growPhase() {
		for (let i=0; i<cells.length; i++) {
			if(cells[i] === "burning" ) {
				cells[i] = "empty"
			}
		}
		for (let i=0; i<cells.length; i++) {
			if(cells[i] === "empty") {
				if(growChance >= 100 - Math.random()*100) {
					cells[i] = "filled"
				}
			}
		}
	}

	// changes the cell status to burning if it has growth
	// recurses to neighbors
	function burnAsync(index) {
		if(index < size) {
			if(cells[index] === "filled") {
				timer(10).then(() => {
					cells[index] = "burning"
					if(index+1 < size) {
						burn(index+1)
					}
					if(index > 0) {
						burn(index-1)
					}
				})
			}
		}
	}

	function lightning() {
		for (let i=0; i<cells.length; i++) {
			if(cells[i] === "filled") {
				let random = 100 - Math.random()*100
				if(burnChance >= random) {
					burn(i)
				}
			}
		}
	}

	async function growPhaseAsync() {
		for (let i=0; i<cells.length; i++) {
			if(cells[i] === "burning" ) {
				await timer(10);
				cells[i] = "empty"
			}
		}
		for (let i=0; i<cells.length; i++) {
			if(cells[i] === "empty") {
				await timer(10);
				if(growChance >= 100 - Math.random()*100) {
					cells[i] = "filled"
				}
			}
		}
	}

	// lightning has a chance to strike each cell
	function lightningAsync() {
		for (let i=0; i<cells.length; i++) {
			if(cells[i] === "filled") {
				let random = 100 - Math.random()*100
				if(burnChance >= random) {
					burnAsync(i)
				}
			}
		}
	}

	function reset() {
		cells = [...Array(size)].map(() => "empty");
	}

</script>

<main>
	<div class="ridge">
		{#each cells as status,index}
			<Cell {status} {index} handleClick={manuallyChangeCell}/>
		{/each}
	</div>
	<button on:click={growPhaseAsync}>Grow Phase</button>
	<button on:click={lightningAsync}>Lightning Phase</button>
	<button on:click={reset}>Reset tiles</button>
	<div>
		<label>
			<div>% Chance for an empty cell to grow a tree</div>
			<input type="number" bind:value={growChance} style="width:4rem;"/>
			<input type="range" bind:value={growChance} min="0" max="100" step="1"/>
		</label>
		<label>
			<div>% Chance for a cell to be struck by lightning</div>
			<input type="number" bind:value={burnChance} style="width:4rem;"/>
			<input type="range" bind:value={burnChance} min="0" max="100" step="1"/>
		</label>
		<label>
			<div>Number of cells</div>
			<input type="number" bind:value={size} style="width:4rem;"/>
			<input type="range" bind:value={size} min="1" max="200" step="1"/>
		</label>
	</div>
	<label>
		<div>Number of turns</div>
		<input type="number" bind:value={numTurns} style="width:4rem;"/>
		<input type="range" bind:value={numTurns} min="100" max="1000" step="100"/>
	</label>
	<button on:click={() => simulate(numTurns)}>Simulate {numTurns} turns</button>
	<div class="logs">
		<table class="logs">
			<tr>
				<td>Turn</td>
				<td>Start</td>
				<td>Grown</td>
				<td>Burnt</td>
				<td>Survived</td>
			</tr>
			{#if logs.length > 0}
				<tr class="summary-row">
					<td>Avg</td>
					<td>{~~avgByKey(logs, "start")}</td>
					<td>{~~avgByKey(logs, "grown")}</td>
					<td>{~~avgByKey(logs, "burnt")}</td>
					<td>{~~avgByKey(logs, "survived")}</td>
				</tr>
			{/if}
			{#each logs as turn, i}
				<tr>
					<td>{i+1}</td>
					<td>{turn.start}</td>
					<td>{turn.grown}</td>
					<td>{turn.burnt}</td>
					<td>{turn.survived}</td>
				</tr>
			{/each}
		</table>
	</div>
</main>

<style>
	.summary-row {
		font-weight: bold;
	}
	.logs {
		height: 200px;
		overflow: scroll;
	}
	main {
		max-width: 960px;
		min-height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.ridge {
		display: flex;
		flex-wrap: wrap;
		margin: 1rem;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>