<script>
  export let index;
  export let status;
  export let handleClick;
</script>

<div class={status} on:click={() => handleClick(index)}>
  {index}
</div>

<style>
  div {
    height: 40px;
    width: 40px;
    border: 1px solid grey;
    background-color: lightgrey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div:hover {
    cursor: pointer;
  }
  .filled {
    background-color: green;
    color: white;
  }
  .burning {
    background-color: orangered;
    color: white;
  }
</style>